@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");
* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  /* border: #000 solid 1px;  */
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

:root {
  --cinza: #455a64;
  --cor_secundaria: #1a1a1a;
  --verde: #066d06;
  --preto: #000;
  --cor_terciaria: #fff;
  --cor_principal: #ffc107;
  --fonte_primaria: "Krona One", sans-serif;
  --fonte_secundaria: "Poppins", sans-serif;
  --fonte_terciaria: "Montserrat", sans-serif;
}

header {
  background-color: var(--cor_secundaria);
}

header img {
  width: 20%;
  height: auto;
  margin-left: -60px;
  margin-right: 5%;
}

.bloco-amarelo {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: auto;
  overflow: hidden;
  margin-bottom: 0px;
  top: 0;
}

.nav {
  gap: 1rem;
}

.nav-links{
    font-size: 1.5em;
    text-decoration:none ;
    color: var(--cor_principal);
    gap: 1rem;

}

