body {
    background-color: var(--cor_principal) !important;
}

strong{

    font-family: 'Poppins' ;
    font-style: var(--cor_terciaria);

}


h1 {
    font-size: 4rem;
    letter-spacing: 8px;
    
    color: var(--cor_secundaria);
}

.texto-grande {
    text-align: left;
    font-size: x-large;
    color: var(--cor_secundaria);
    align-items: center; 
    
}

strong {
    color: var(--cor_terciaria);
}

.img-folha {
    height: 15em; 
    width: auto;
    margin-left: auto; 
    margin-right: 80px;
    border-radius: 50%; /* Faz com que a borda fique circular */
    border: 2px solid var(--cor_secundaria);
}

.white-text {
    color: var(--cor_terciaria);
}



.bloco-amarelo{
    
    padding: 1rem;
    text-align: center; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around; 
    height: auto;
    overflow: hidden; 
    margin-bottom: 0px; 
}

.nav{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.nav-links{
    font-size: 1.5em;
    text-decoration:none ;
    color: var(--cor_principal);

}

.nav-links:hover{

    color: var(--cor_terciaria);;
    transition: .4s;

    
}



.first-section {
    
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding:  55px; 
    width: 100%;
}

.second-section {
    background-color: var(--cor_secundaria);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse; 
    padding: 55px;
    margin-top: 2rem;
    width: 100vw
}

.second-section img {
    height: 30vh;
    width: auto;
    margin-left: auto; 
    margin-right: auto;
    
    border: 2px solid var(--cor_principal);
}


.bloco-cor_principa {
     
    padding: 1rem;
    margin-top: 2rem;
    text-align: center; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    height: auto;
    overflow: hidden;


    margin-bottom: 0px; 
}
